# Ignore db_backs and config/sync
local/import/

# Ignore drupal files
drupal/sites/
drupal/modules/contrib
drupal/themes/contrib
vendor/
web/core/

# Ignore temporary and cache files
web/sites/default/private/
web/sites/default/settings.php
web/sites/default/settings.local.php
web/sites/default/services.yml
web/sites/default/files-private/

# Git should track: 
# - root with docker compose, startup script, some instructionals, and gitignore.
# - custom modlues and themes.
