# Ignore dependencies and core files that should not be in Git
vendor/
web/core/
modules/contrib
themes/contrib
themes/custom
translations/
./.env

# Ignore database backups (should not be tracked in Git)
db_backups/

# Ignore temporary and cache files
web/sites/default/private/
web/sites/default/settings.php
web/sites/default/settings.local.php
web/sites/default/services.yml
web/sites/default/files-private/

# Ignore system
